<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>EAT BETTER LIVE BETTER</title>
	<link rel="stylesheet" href="/assets/styles.css" type="text/css" />
</head>
<body>

<div id="wrapper">
	<header>
		<h1>EAT BETTER LIVE BETTER</h1>
	</header>
	<section id="page">
		<h2>What do you want to prepare next holiday?</h2>
		<div id="searchBox">
			<form action="" id="recipeSearchForm" name="recipeSearchForm">
				<input type="search" id="recipeSearchInput" name="recipeSearchInput" placeholder="Search for a recipe" />
				<button id="recipeSearchSubmit" title="Click to Search">&rarr;</button>
			</form>
		</div>
	</section>	
</div>
<div>
    {{{body}}}
</div>
</body>

	<script	type="text/javascript" src="/assets/scripts/scripts.js" ></script>	
	
</html>