<!DOCTYPE html>
<html>

    <head>
		<meta charset="utf-8">
		<title>HackMe Challenge</title>
		<link rel="stylesheet" href="/assets/styles.css" type="text/css" />
	</head>

    <body>
		<div id="wrapper">
			<header>
				<h1>HackMe Challenge</h1>
			</header>
			<section id="page">
				<h2>Search here</h2>				
					<div id="searchBox">
						<input type="search" id="recipeSearchInput" name="recipeSearchInput" />
						<button id="recipeSearchSubmit" title="Click to Search">&rarr;</button>					
					</div>									
			</section>				
		</div>
		<div id="searchResult"></div>
		<div id="showRecipe"></div>
		
		<div id="nutriData">		
		</div>
		
		{{{body}}}		
        
    </body>
	<script	type="text/javascript" src="/assets/scripts/jquery-1.11.1.min.js" ></script>
	<script	type="text/javascript" src="/assets/scripts/async.js" ></script>
	<script	type="text/javascript" src="/assets/scripts/main1.js" ></script>
</html>